.app-nav {
    ul {
        list-style-type: none;
        padding: 0px;
        
        li{
            padding: 15px 22px;
            cursor: pointer;
            a{
                text-decoration: none;
                color: #212121;
                font-weight: 700;
            }
        }
    }
}